# SELF-PRACTICE

### Day 3

# Pandas: Selecting Data to Work with

## Using `Boolean Masks`
<img src = "images/logo.jpg" width="100" align="left">

Ram Narasimhan

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

In [ ]:
df = pd.read_csv("data/Crude Oil Data/CrudeOilProduction.csv")

In [ ]:
df.columns

# <div class="alert alert-block alert-warning"> View one column </div>

In [ ]:
df['Time']

# View only the column of countries

# <div class="alert alert-block alert-warning">  How many 'unique' values are there in any column?

### How many unique Country Codes are there in the data frame?

In [37]:
#df['Country'].unique()
sorted(df['Country'].unique())

['AGO',
 'ALB',
 'ARE',
 'ARG',
 'ARM',
 'AUS',
 'AUT',
 'AZE',
 'BEL',
 'BEN',
 'BGD',
 'BGR',
 'BHR',
 'BIH',
 'BLR',
 'BOL',
 'BRA',
 'BRN',
 'BWA',
 'CAN',
 'CHE',
 'CHL',
 'CHN',
 'CIV',
 'CMR',
 'COD',
 'COG',
 'COL',
 'CRI',
 'CUB',
 'CYP',
 'CZE',
 'DEU',
 'DNK',
 'DOM',
 'DZA',
 'ECU',
 'EGY',
 'ERI',
 'ESP',
 'EST',
 'ETH',
 'EU28',
 'FIN',
 'FRA',
 'G20',
 'GAB',
 'GBR',
 'GEO',
 'GHA',
 'GRC',
 'GTM',
 'HKG',
 'HND',
 'HRV',
 'HTI',
 'HUN',
 'IDN',
 'IND',
 'IRL',
 'IRN',
 'IRQ',
 'ISL',
 'ISR',
 'ITA',
 'JAM',
 'JOR',
 'JPN',
 'KAZ',
 'KEN',
 'KGZ',
 'KHM',
 'KOR',
 'KWT',
 'LBN',
 'LBY',
 'LKA',
 'LTU',
 'LUX',
 'LVA',
 'MAR',
 'MDA',
 'MEX',
 'MKD',
 'MLT',
 'MMR',
 'MNE',
 'MNG',
 'MOZ',
 'MYS',
 'NAM',
 'NER',
 'NGA',
 'NIC',
 'NLD',
 'NOR',
 'NPL',
 'NZL',
 'OECD',
 'OEU',
 'OMN',
 'PAK',
 'PAN',
 'PER',
 'PHL',
 'POL',
 'PRK',
 'PRT',
 'PRY',
 'QAT',
 'ROU',
 'RUS',
 'SAU',
 'SDN',
 'SEN',
 'SGP',
 'SLV',
 'SRB',
 'SVK',
 'SVN',
 'SWE',
 'SYR',
 'TGO',
 'THA',
 'TJK',
 'TKM',
 'TTO',
 'TUN',
 'TUR',
 'TWN',
 'TZA',
 'UKR',
 'URY',
 'USA',
 'UZB',
 'VEN',
 'VNM',
 'WLD',
 'YEM',
 'ZAF',
 'ZMB',
 'ZWE']

# Your turn: How many countries (number) are there?

# Can you subset only to include France?

In [29]:
condition = df['Country'] == 'FRA'

In [30]:
df[condition]

    Country Indicator Subject Units Frequency  Time  Quantity Flag Codes
392     FRA   OILPROD     TOT  KTOE         A  1960       NaN          L
393     FRA   OILPROD     TOT  KTOE         A  1961       NaN          L
394     FRA   OILPROD     TOT  KTOE         A  1962       NaN          L
395     FRA   OILPROD     TOT  KTOE         A  1963       NaN          L
396     FRA   OILPROD     TOT  KTOE         A  1964       NaN          L
397     FRA   OILPROD     TOT  KTOE         A  1965       NaN          L
398     FRA   OILPROD     TOT  KTOE         A  1966       NaN          L
399     FRA   OILPROD     TOT  KTOE         A  1967       NaN          L
400     FRA   OILPROD     TOT  KTOE         A  1968       NaN          L
401     FRA   OILPROD     TOT  KTOE         A  1969       NaN          L
402     FRA   OILPROD     TOT  KTOE         A  1970       NaN          L
403     FRA   OILPROD     TOT  KTOE         A  1971  1861.644        NaN
404     FRA   OILPROD     TOT  KTOE         A  1972  1483.716        NaN
405     FRA   OILPROD     TOT  KTOE         A  1973  1253.760        NaN
406     FRA   OILPROD     TOT  KTOE         A  1974  1079.794        NaN
407     FRA   OILPROD     TOT  KTOE         A  1975  1027.804        NaN
408     FRA   OILPROD     TOT  KTOE         A  1976  1056.798        NaN
409     FRA   OILPROD     TOT  KTOE         A  1977  1036.802        NaN
410     FRA   OILPROD     TOT  KTOE         A  1978  1116.787        NaN
411     FRA   OILPROD     TOT  KTOE         A  1979  1196.771        NaN
412     FRA   OILPROD     TOT  KTOE         A  1980  1414.730        NaN
413     FRA   OILPROD     TOT  KTOE         A  1981  1675.680        NaN
414     FRA   OILPROD     TOT  KTOE         A  1982  1645.685        NaN
415     FRA   OILPROD     TOT  KTOE         A  1983  1660.683        NaN
416     FRA   OILPROD     TOT  KTOE         A  1984  2064.605        NaN
417     FRA   OILPROD     TOT  KTOE         A  1985  2641.495        NaN
418     FRA   OILPROD     TOT  KTOE         A  1986  2941.438        NaN
419     FRA   OILPROD     TOT  KTOE         A  1987  3235.382        NaN
420     FRA   OILPROD     TOT  KTOE         A  1988  3354.359        NaN
421     FRA   OILPROD     TOT  KTOE         A  1989  3243.380        NaN
422     FRA   OILPROD     TOT  KTOE         A  1990  3023.422        NaN
423     FRA   OILPROD     TOT  KTOE         A  1991  2951.436        NaN
424     FRA   OILPROD     TOT  KTOE         A  1992  2865.452        NaN
425     FRA   OILPROD     TOT  KTOE         A  1993  2751.474        NaN
426     FRA   OILPROD     TOT  KTOE         A  1994  2768.471        NaN
427     FRA   OILPROD     TOT  KTOE         A  1995  2502.522        NaN
428     FRA   OILPROD     TOT  KTOE         A  1996  2106.597        NaN
429     FRA   OILPROD     TOT  KTOE         A  1997  1779.660        NaN
430     FRA   OILPROD     TOT  KTOE         A  1998  1708.673        NaN
431     FRA   OILPROD     TOT  KTOE         A  1999  1538.706        NaN
432     FRA   OILPROD     TOT  KTOE         A  2000  1416.729        NaN
433     FRA   OILPROD     TOT  KTOE         A  2001  1381.736        NaN
434     FRA   OILPROD     TOT  KTOE         A  2002  1316.591        NaN
435     FRA   OILPROD     TOT  KTOE         A  2003  1218.622        NaN
436     FRA   OILPROD     TOT  KTOE         A  2004  1137.647        NaN
437     FRA   OILPROD     TOT  KTOE         A  2005  1078.665        NaN
438     FRA   OILPROD     TOT  KTOE         A  2006  1054.672        NaN
439     FRA   OILPROD     TOT  KTOE         A  2007   973.698        NaN
440     FRA   OILPROD     TOT  KTOE         A  2008   974.697        NaN
441     FRA   OILPROD     TOT  KTOE         A  2009   898.721        NaN
442     FRA   OILPROD     TOT  KTOE         A  2010   895.722        NaN
443     FRA   OILPROD     TOT  KTOE         A  2011   894.722        NaN
444     FRA   OILPROD     TOT  KTOE         A  2012   806.749        NaN
445     FRA   OILPROD     TOT  KTOE         A  2013   792.754        NaN
446     FRA   OILPROD     TOT  KTOE         A  2014   765.762        NaN
447     FRA   OILPROD     TOT  KTOE         A  2015   832.741        NaN

# Can you subset only to include Zimbabwe?

# Can you subset only to for the year = 2015?

In [41]:
condition2 = df['Country']=='NOR'
condition1 = df['Quantity'] > 100000
df[condition2 & condition1]

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
7922    False
7923    False
7924    False
7925    False
7926    False
7927    False
7928    False
7929    False
7930    False
7931    False
7932    False
7933    False
7934    False
7935    False
7936    False
7937    False
7938    False
7939    False
7940    False
7941    False
7942    False
7943    False
7944    False
7945    False
7946    False
7947    False
7948    False
7949    False
7950    False
7951    False
Length: 7952, dtype: bool

In [ ]:
condition2 = df['Time']==2015

In [ ]:
df[condition2]

# Your Turn

# Create a SUBSET of a data frame with:
    
Country = Norway

# We only want to keep those rows where `Quantity` > 100,000

# Print only the Country & the Quantity, condtion: Quantity > 100,000

![Questions](images/questions.png)

In [50]:
df = pd.DataFrame ({'a' : np.random.randn(6),
             'c' : np.random.randn(6)})

#if you want to apply sum just to one particular row, use .loc
df.loc[3].sum()

#If you want to apply a function to ALL the rows, use apply with axis=1 (meaning row by row)
df.apply(sum, axis=1)

0.6807051420570589